.beigeBackground {
  background-color: beige;
}


.leftSidebar {
  border: 0.3rem solid none;
  padding: 0.3rem 0rem 0.3rem 0.75rem;
  display: block;
  margin: auto;
  margin-top: 5.0rem;
  margin-bottom: .3rem;
  width: 20%;
  box-sizing: border-box;
  float: left;
  text-align: left
}

.leftSidebar p {
  font-weight: bold;
}

.leftSidebar label {
  padding-left: 0.5rem;
}

.rightSidebar {
  border: 0.3rem solid none;
  padding-right: 18rem;
  display: block;
  margin: auto;
  margin-top: .3rem;
  margin-bottom: .3rem;
  width: 79%;
  box-sizing: border-box;
  float: right;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}

